.birthday-text {
  margin-top: 25px;
  font-size: 50px;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 100;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

body{
	color: white;
}

.mynavbar{
	background-color: rgba(108, 229, 253, 0.1);
	backdrop-filter: blur(5px);	
}

.mynavbar a{
	text-shadow:0 2px 2px rgb(0 0 0 / 0.5) ;	
	font-weight: 600;
}

.jumbotron{
	padding-top:5rem;
	min-height: 100vh;
}

#about,#projects,#contact{
	min-height: 100vh;
}

#projects{
	z-index: 1;
}

.card{
	background-color: rgba(255, 255, 255, 0.6);
}

footer{
	margin-top: -3rem;
}

.jumbotron h3,.jumbotron p{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.jumbotron p{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.myimg {
  box-shadow: 0 0 15px 1px #ffffff, /* Bayangan dengan warna hitam */
              0 0 15px 2px #0011F3; 
}


.jumbotron p{
	line-height: 1px;
}

.textjustify{
	text-align: justify;
}

.myposition{
	text-align: left;
}


section{
	padding-top: 5rem;
}

#projects img{
	width: 50%;
}

footer p{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#projects h2{
	font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@media (max-width:992px){
	html{
		font-size: 60%;
	}

	img{
		width: 60%;
	}

	#contact{
		margin-bottom: 15rem;
	}
}

@media (max-width: 768px) {
    .birthday-text{
      font-size: 50px;
    }

  	.jumbotron {
   	 	padding-top: 15rem;
    	min-height: 100vh;
  	}

  	.jumbotron h3{
			font-family: "League Spartan", sans-serif;
			font-optical-sizing: auto;
			font-weight: 600;
			font-style: normal;
			line-height: 35px;
		}

  	.jumbotron .row.myposition.align-items-center {
    	flex-direction: column-reverse; /* Mengubah urutan elemen agar gambar berada di atas */
  	}

  	.jumbotron .col img {
    	width: 40%;
    	margin-bottom: 25px;
  	}

  	.myposition {
    	text-align: center;
  	}

  	#projects img{
  		width: 65%;
  	}

   #about{
    margin-top: 0;
   } 
}


@media (max-width:576px){
  .birthday-text{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: -100px;
  }

	#projects img{
  		width: 30%;
  	}
}